.flex-wrap {
  flex-wrap: wrap;
}

.header-background {
  background-color: #167daa;
}

.black-background {
  background-color: #000;
}

.silver-background {
  background-color: #f6f6f6;
}

.image-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.1)), url("/images/herobackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: auto;
}

.padding-inline-0 {
  padding-inline-start: 0;
}

.padding-top-10 {
  padding: 10px 0;
}

.padding-5 {
  padding: 5px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 0 20px;
}

.padding-30 {
  padding: 30px 0;
}

.footer-padding {
  padding: 15px 0;
}

.margin-auto {
  margin: auto;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-100 {
  margin: 0 0 100px;
}

.margin-table {
  margin: 35px 0 200px;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.center {
  text-align: center;
  justify-content: center;
}

.align-items {
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .logo {
    width: 40px;
    height: 40px;
  }
}

.title {
  font-size: 55px;
  font-family: Redressed, cursive;
  color: #fff;
  text-decoration: none;
  transition: font-size 0.5s;
  cursor: pointer;
}

.title:hover {
  font-size: 74px;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .title:hover {
    font-size: 40px;
  }
}

.header-favorites {
  font-size: 30px;
  font-family:
    Redressed,
    cursive;
  color: #fff;
  margin-left: 1.6rem;
  text-decoration: none;
  transition: font-size 0.5s;
  cursor: pointer;
}

.header-favorites:hover {
  font-size: 42px;
}

@media (max-width: 768px) {
  .header-favorites {
    font-size: 20px;
  }

  .header-favorites:hover {
    font-size: 35px;
  }
}

.no-entries {
  height: 70vh;
}

li {
  display: inline-block;
  transition: transform 0.5s;
}

li:hover {
  transform: scale(1.01);
}

.search-statement {
  font-family: "Signika Negative", sans-serif;
  color: #fff;
  font-size: 46px;
  margin: 100px auto 0;
}

@media (max-width: 768px) {
  .search-statement {
    font-size: 30px;
  }
}

.search-bar {
  border-radius: 20px;
  padding: 15px;
  margin-top: 70px;
  margin-bottom: 70px;
  border: rgb(0, 28, 111) solid 3px;
  font-size: 16px;
  width: 40%;
  transition: width 2s;
}

@media (max-width: 768px) {
  .search-bar {
    padding: 8px;
    font-size: 12px;
  }
}

.search-bar:focus {
  width: 70%;
}

.search-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: rgb(37, 37, 142, 85%);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s;
}

@media (max-width: 768px) {
  .search-button {
    padding: 8px;
    font-size: 12px;
  }
}

.search-button:hover {
  background-color: rgb(0, 0, 88);
}

.macrochart {
  height: 100px;
  object-fit: scale-down;
}

.groceries {
  height: 100px;
  object-fit: scale-down;
}

.diary {
  height: 100px;
  padding-top: 10px;
  object-fit: scale-down;
}

.calendar {
  height: 100px;
  width: 160px;
  object-fit: scale-down;
}

.subtitle {
  font-size: 22px;
}

.description {
  font-size: 15px;
}

.nutrition-image {
  width: 400px;
  border-radius: 30px;
  filter: brightness(90%);
  margin-bottom: 40px;
}

.application-image {
  box-shadow: 0 2px 8px rgba(118, 114, 114, 15%);
  margin: 0 0 50px;
}

@media (max-width: 768px) {
  .macrochart {
    height: 70px;
  }

  .groceries {
    height: 70px;
  }

  .diary {
    height: 70px;
  }

  .calendar {
    height: 70px;
  }

  .subtitle {
    font-size: 10px;
  }

  .description {
    font-size: 8px;
  }

  .nutrition-image {
    width: 300px;
  }

  .application-image {
    width: 200px;
    height: 320px;
  }
}

.social-media {
  width: 45px;
  height: 40px;
  border-radius: 100px;
}

.searched-image {
  width: 200px;
  height: 200px;
}

.food-card {
  border: #000 solid 1px;
  border-radius: 20px;
  margin: 5px;
  padding: 20px;
  box-shadow:
    0 1px 5px rgb(106, 104, 104),
    inset 0 0 9px white;

  /* box-shadow: 5px 5px 10px rgb(75, 67, 67); */
  background-color: #fff;
}

.article {
  text-decoration: none;
  margin-block-start: -5px;
}

.article-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.article-image {
  width: 450px;
  height: 270px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(118, 114, 114);
}

@media (max-width: 768px) {
  .article-image {
    width: 300px;
    height: 180px;
  }
}

.click-here-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: rgb(37, 37, 142, 85%);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 1s;
}

.click-here-button:hover {
  background-color: rgb(0, 0, 88);
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.style-none {
  list-style: none;
}

@media (max-width: 200px) {
  .padding-20 {
    padding: 0;
  }
}

@media (min-width: 1290px) {
  .image-background {
    height: 650px;
  }

  .search-statement {
    font-size: 54px;
  }
}

.underline-15 {
  border-bottom: #000 15px solid;
}

.border {
  border: #000 3px solid;
}

.font-32 {
  font-size: 32px;
}

.font-12 {
  font-size: 12px;
}

.text-left {
  text-align: left;
}

table {
  width: 350px;
}

th {
  border-bottom: #000 3px solid;
}

td {
  text-align: right;
  border-bottom: #000 3px solid;
}

.food-detail-image {
  width: 450px;
  height: 450px;
  margin: 50px;
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 5px 8px 8px rgba(118, 114, 114, 55%);
}

.fa-star {
  font-size: 26px;
  margin-left: 85%;
  cursor: pointer;
}

.fa-star:hover {
  opacity: 70%;
}
